.container {
    background: lightgray;
    max-width: 200px;
    margin: 10vh auto 0 auto;
    border-radius: 5px;
    border: solid black;
}

#display {
    background: lightblue;
    text-align: right;
    height: 30px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    border: 0.5px solid black;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background: lightgray;
}

#equals {
    background-color: indianred;
    color: white;
}
